#facebook-scroll-to-top-button {
	color: white;
	background-color: #3B5998;
	border: 1px solid #133783;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	font-size: 2em;
	text-rendering: optimizeLegibility;

	height: 50px;
	width: 35px;

	position: fixed;
	right: -10000px;
	top: 40%;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

#facebook-scroll-to-top-button p {
	margin: 10px auto;
	padding: 0;
	width: 0.5em;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
